.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent overlay */
  }

  .text-overlay {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(181, 181, 181);
    width: 70%;
    text-align: center;
  }

  .col {
    padding: 20px;
    text-align: center;
  }

  .col h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .col p {
    font-size: 1rem;
  }
.logo {
    width: 50px;       /* Ancho fijo */
    height: auto;      /* Altura automática (para mantener proporción) */
}

.cuadro-transparente {
    min-height: 300px;  /* Altura mínima fija (ajusta el valor según necesites) */

    flex-direction: column; /* Organiza el contenido en columna */
    justify-content: center; /* Centra verticalmente el contenido */
}

.cuadro-transparente p {
    padding: 0 10px;    /* Espaciado interno para mejor legibilidad */
}
/* filepath: Styles.css */
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}